### Security Measures
# Disable access to htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Deny access to files with extensions the indicated extensions
<FilesMatch "\.(log|sh|sql|inc)$">
Order allow,deny
Deny from all

</FilesMatch>
