<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="Lay/AutoLoader.php"
         processIsolation="false" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">Lay/tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
